<div class="entirePage">
    <div class="loginPage">
        <h1>Welcome back!!</h1>
        <form class="login" id="login-form">
            <input type="text" name="username" placeholder="Name">
            <input type="password" name="password" placeholder="Enter password">
            <input routerLink ="/dashboard" type="submit" value="Login" class="btn">
        </form>
        <div class="passwordChange">
            <label for="">
                <input type="checkbox" class="Remember me">
                Remember me
            </label>
            <p routerLink = '/reset' class="director">forgot password?</p>
        </div>
        <div class="confirmation">
            <p >Don't have an account? </p>
            <p routerLink = '' class="director">sign up</p>
        </div>
    </div>
   </div>
