<div class="entirePage">
    <div class="header">
        <h1>Welcome!! #Keep your notes,track your activities</h1>
    </div>
    <div class="container">
        <h1>Notebook</h1>
        <form  action="" method="post" class="note">
            <input type="text" name="note" class="title" placeholder="Enter notebook's title">
            <input type="text" name="description" class="description" placeholder="Enter the notes content">
            <input type="date" name="Date created" class="today" placeholder="Date created">
            <!-- <input type="submit" name="submit" value="Create note" class="btn"> -->
        </form>
        <input type="submit" name="submit" value="Create note" class="btn">
        <p routerLink = '' class="director">BACK</p>
    </div>
   </div> 

