*{
    margin: 0px;
    padding: 0px;
}
.entirePage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(to right, #4f46e5, #6d28d9); */
    background: linear-gradient(to right, #e546d8, #6d28d9);
    gap: 10%;
}
.header{
    background-color: aliceblue;
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 4%;
    /* box-shadow: 2px 2px 15px 15px #3B3486; */
}
.container{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 2%;
    box-shadow: 2px 2px 15px 15px #3B3486;
    /* margin-top: 5%; */
}
.note{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5%;
    height: 60%;
    margin-bottom: 0%;
}
.note input{
    height: 10%;
    width: 90%;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 2%;
    gap: 2%;
    margin-top: 2%;
}
.btn{
    color: white;
    background: linear-gradient(to right, #4f46e5, #6d28d9);
    border: none;
    outline: none;
    height: 10%;
    margin-left: 15px;
    margin-right: 15px;
    width: 60%;
    margin-top: 0%;
}
/* a{
    text-decoration: none;
}
.btn{
    color: white;
    background: linear-gradient(to right, #4f46e5, #6d28d9);
    border: none;
    outline: none;
    height: 15%;
    margin-top: 5px;
    margin-left: 10px;
    width: 70%;
}
.btn:hover{
    background-color: blue;
    color: white;
    opacity: 0.6;
}
::placeholder{
    color: gray;
    font-weight: 700;
} */