*{
    margin: 0px;
    padding: 0px;
}
.entirePage{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #e546d8, #6d28d9);
}
.container{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 4%;
    box-shadow: 2px 2px 15px 15px #3B3486;
}
.reset{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5%;
    height: 30%;
}
.reset input{
    height: 20%;
    width: 90%;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 2%;
    gap: 2%;
}
a{
    text-decoration: none;
}
.btn{
    color: white;
    background: linear-gradient(to right, #4f46e5, #6d28d9);
    border: none;
    outline: none;
    height: 15%;
    margin-top: 5px;
    margin-left: 10px;
    width: 70%;
}
.btn:hover{
    /* background-color: blue; */
    color: white;
    opacity: 0.6;
}
::placeholder{
    color: gray;
    font-weight: 700;
}